<div class="container">
    <div class="row">
        <div>
            <%= link_to "Logout", logout_path, method: :delete, class: "button right" %>
        </div>
    </div>

            <%= react_component("LinkPage", links: @links.as_json)  %>
</div>
